.side-drawer {
    height: 100%;
    background: linear-gradient(to top, rgb(236, 226, 226) 35%, rgba(100, 120, 200, .7));
    box-shadow: 1px 0 7px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 400px;
    z-index: 200;
    transform: translateX(-100%);
    transition: all ease 300ms;
}
.side-drawer.open {
    transform: translateX(0);
}

.side-drawer ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side-drawer li {
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
}

.side-drawer li svg {
    color: #521751;
}

.side-drawer a {
    color: #521751;
    text-decoration: none;
    font-size: 1.2rem;
    margin-left: 0.3rem;
}

.side-drawer a:hover,
.side-drawer a:active {
    color: #fa923f;
}