.container {
    width: 85%;
    margin: auto;
}

#page-title{
    background: linear-gradient(to bottom,  rgba(223, 94, 94, 0.3), transparent);
    width: 100%;
    color: red;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Dancing Script';
    text-transform: uppercase;
}