.wrapper-editor {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
    position: relative;
}
#textarea{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
         width: 100%;
}

.deneme {
    width: 50%;
}