#login-form {
    display: flex;
    flex-direction: column;
    width: 40%;
    background: rgba(150, 90, 50, 0.3);
    padding: 5%;
    border-radius: 3rem;
    border-bottom: 3px solid;
  }
  #login-form svg{
    margin: 2rem auto;
    font-size: 4rem;
    color: rgb(194, 69, 69);
  }
  #login-form button{
    margin-top: 2rem;
  }
  
  #login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
  }
  #hesabım-yok {
    text-align: right;
    font-size: 0.9rem;
    transition: 100ms;
    cursor: pointer;
    margin-top: 2rem;
  }
  #hesabım-yok:hover {
    text-decoration: underline;
    color: blueviolet;
  }
  
  @media (max-width: 769px) {
    #login-form {
      width: 80%;
    }
  }
  