.login-page {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-page .form {
  width: 85%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/login-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.login-page form {
  width: 35%;
  overflow: hidden;
}

.textarea {
  width: 100%;
  position: relative;
  height: 3em;
  margin: 1px auto;
}
.textarea input {
  width: 100%;
  height: 100%;
  color: white;
  padding-top: 1rem;
  border: none;
  outline: none;
  background: none;
}
.textarea label {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
}
.textarea label::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #5fa8d3;
  transform: translateX(-101%);
  transition: all ease 300ms;
}

.content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all ease 300ms;
}
.textarea input:focus + .label-name .content-name,
input:valid + .label-name .content-name {
  transform: rotate(-360deg) translateY(-100%);
  font-size: 0.7rem;
  color: #5fa8d3;
}
.textarea input:focus + .label-name::after,
input:valid + .label-name::after {
  transform: translateX(0%);
}

.btn-login {
  padding: 0.2rem;
  border-radius: 30px;
  cursor: pointer;
  background-color: #2596d8;
  font-weight: bold;
  color: rgb(195, 187, 187);
  border: none;
  transition: all ease 300ms;
}

.btn-login:hover {
  background-color: #5fa8d3;
  color: black;
}

.fullwidth {
  width: 100%;
}

.remember-me {
  margin-top: 0.1rem;
  display: flex;
  height: 2.5rem;
  align-items: center;
  font-size: 13px;
  text-transform: capitalize;
  color: rgb(165, 156, 156);
}

.remember-me input {
  height: 1rem;
  width: auto;
  margin-right: 5px;
}

@media (max-width: 689px) {
  .login-page form {
    width: 60%;
  }
  .login-page .form {
    background-size: cover;
  }
}

@media screen and (max-height: 420px) {
  .login-page {
    height: 90%;
  }
}
