#admin {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100%;
}

.admin__content {
    width: 60%;
    height: 70%;
    overflow-y: auto;
    overflow-x: hidden;
}

@media (max-width: 769px) {
    .admin__content{
        width: 90%;
    }
}
