#masal-info h2 {
  font-size: 1.5rem;
  text-align: center;
}
#homepage-masal-title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: rgb(49, 100, 24);
  font-family: "Indie Flower", cursive;
}

#masal-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
  width: 100%;
}

#masallar-btn {
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  margin: 40px 0;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  -webkit-box-redlect: below 1px linear-gradient(transparent, #0005);
}

#masallar-btn:hover {
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 200px #03e9f4;
}

.homepage-masallar {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}
.homepage-masallar a {
  text-decoration: none;
  color: rgb(176, 199, 211);
  float: right;
  padding: 1rem 0;
  transition: all ease 400ms;
}

.homepage-masallar a:hover {
  text-decoration: underline;
  color: red;
}

.homepage-masallar div {
  width: 350px;
}
.homepage-masallar div p {
  font-size: 1.2rem;
  text-align: center;
  color: #f1f1f1;
}

.homepage-masallar div img {
  width: 90%;
  float: right;
  height: 70%;
  transition: 300ms;
  opacity: 0.7;
}
.homepage-masallar div img:hover {
  transform: scale(1.1);
  opacity: 1;
}

@media (max-width: 710px) {
  .homepage-masallar div img {
    opacity: 1;
  }

  .homepage-masallar div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}

